
<form action="" style="width: 500px; margin-left:20px;">
  <h1>Endereço</h1>
  <label for="rua">Rua</label>
  <input type="text" [(ngModel)]="endereco.rua" name="rua">

  <label for="numero">Número</label>
  <input type="text" [(ngModel)]="endereco.numero" name="numero">

  <label for="bairro">Bairro</label>
  <input type="text" [(ngModel)]="endereco.bairro" name="bairro">

  <label for="cep">CEP</label>
  <input type="text" [(ngModel)]="endereco.cep" name="cep">  

  <button class="btn waves-effect waves-light" >Salvar        
  </button> 
</form>