
<form action="" style="width: 500px;">
  <h1>Endereço</h1>
  <label for="rua">Rua</label>
  <input type="number" [(ngModel)]="endereco.rua" name="rua">

  <label for="numero">Número</label>
  <input type="text" [(ngModel)]="endereco.numero" name="numero">

  <label for="bairro">Bairro</label>
  <input type="text" [(ngModel)]="endereco.bairro" name="bairro">

  <label for="cep">CEP</label>
  <input type="text" [(ngModel)]="endereco.cep" name="cep">  

  <input type="submit" value="Salvar" >
</form>