<form #pedidoForm="ngForm" class="grid-pedido">   
  <div>
      <h1>Lista de Produtos</h1>
      <table border="1">
          <tr class="table-top">
              <td>Descrição</td>
              <td>Categoria</td>
              <td>Valor</td>
              <td>Quantidade</td>
          </tr>
      
          <tr class="cart-item" *ngFor="let item of itens">
              <td>{{ item.descricao }}</td>
              <td>{{ item.categoria }}</td>
              <td>{{ item.preco }}</td>
              <td>
                  <input type="number" [(ngModel)]="item.quantidade" name="quantidade" value="0" min="0">
              </td>
          </tr>         
          
      </table>    
     
  </div>
   
</form> 
