   <h1>Dados do Cliente</h1>
  <div class="form-group" style="margin: 0 auto;">
    <div style="width: 500px;">
        <p>Insira aqui seus dados:</p>
    </div>
    <div class="input-field" col m6>
        <label for="nome">Nome do Cliente:</label>
        <input [(ngModel)]="model.nome" name="nome" type="text" required>
    </div>
    <div class="input-field" col m6>
        <label for="telefone">Telefone:</label>
        <input [(ngModel)]="model.telefone" name="telefone" type="text" required>
    </div>     
     
    <div class="checkbox-submit">               
        <label>
            <input [(ngModel)]="model.entrega" name="entrega" type="checkbox" required>  
            <span>Entrega</span>   
        </label>        
        
    </div>  
    
  </div>
  <app-endereco (salvar)="onSend($event)" ></app-endereco> 
  <!-- <div class="form-group" style="margin: 0 auto;">
    <p [hidden] = "!error" style="color: red;">
        {{ errorDesc }}
    </p>
  </div> -->
    
  
